/* Noto serif and sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* color vars */
:root {
    --blue:   rgb(58, 154, 198);
    --green:  rgb(68, 178, 68);
    --orange: rgb(224, 137, 6);
    --red:    #C34500;
    --shadow: rgb(209, 208, 208);

    /* 
        Colornames allowed:
        black, gray, whitesmoke, white. 
    */
}

/* Page layout */
body {
    background-color:whitesmoke; /* or a light version of an OSU color */
    font-family: 'Noto Serif', serif;
    font-size:1.1em;
    margin:0 auto;
    max-width:900px;
    min-width:417px;

}

/* Anchors and Nav */
a:link {color:black;}
a:visited {color:gray;}
.skip-link {
    position: absolute;
    top: -40px; /* Off-screen */
    left: 0;
    background: var(--green);
    color: white;
    padding: 8px 16px;
    z-index: 100; /* Bring it to the front */
    text-decoration: none;
    border-radius: 4px;
  }
  
  .skip-link:focus {
    top: 10px; /* Bring it into view when focused */
     outline: 2px solid white; /* Optional focus ring */
     outline-offset: 0px;  
     box-shadow: 5px 5px 5px gray;
  }
  .skip-link:link {color:white;}
nav {display:flex; flex-flow:wrap row; background-color:var(--blue); border-radius:0 0 5px 5px;  }
nav a:link {padding:1% 2%; border-right:3px solid white; color:white; font-size:.9em; text-decoration:none;}
nav a:visited {color:white;}
nav a:hover, nav a:active {background-color:white; color:var(--blue);}

header, footer {
    color:white;
    background-color:var(--orange);
    padding:1%;
    border-radius:0;
    text-align:left;
}
header h1 {
    font-size:150%;

    }
header img {
    height:80px;
    margin: 3% 2% 0 2%;
    float:left;
    }
footer {
    border-radius:5px 5px 0 0;     
    text-align:center;
}
footer li {
    display:inline;     
    font-family:"Noto Sans", sans-serif;
}
footer a:link, footer a:visited {color:white;}
main {
    min-height:600px;
    min-width:400px;
    padding:0 2%;
    
}
.consent {float:right; margin:0 0 -2.5% 36%; width:60%; font-size: 70%;}
 
#prompts button {margin:0 0 0 2%; border:0; color:var(--green); text-decoration:underline; background-color:transparent;}

.proceed {
    background-color:transparent;
    justify-content: space-between;
    margin:3%;
    width:95%;
}
.proceed > a:link,
.proceed > button,
button[type="submit"] {
    font-size:100%;
    color:white;
    background-color:var(--blue);
    border:0;
    border-radius:5px;
    margin-top:3%;
    padding:1.2%;
    width:180px;
    text-decoration:none;
    font-family:"Noto Sans", sans-serif;
    text-align:center;
}
.proceed > a.off {
    background-color:transparent; 
    visibility:hidden;
}
.proceed > a:hover,
button:hover {
    color:white; 
    background-color:var(--green);
    box-shadow:3px 3px 5px 1px var(--shadow);
}
.proceed > a:focus,
 button:focus {
    outline: 2px solid var(--red);
    outline-offset: 0px;
}
button.download {width:300px;}


.floatRight {
    float:right; 
    margin:0 0 2% 2%; 
    border:1px solid var(--orange);
    padding:2%;
    width:34%;
}
img {max-width:100%;}
cite {font-size:80%;}
footer cite a, footer cite a:visited {color:white;}
h1, h2, h3, h4, dt {text-transform:capitalize; }
h2 {color:var(--blue);}
h3 {line-height:1;}
dt {color:var(--red);}
li {margin-bottom:2%;}
.smaller {font-size:60%;}

.circle {
    border-radius:50%;
    padding:8px;
    color:white;
    background-color:var(--orange);
    font-family:"Noto Sans", sans-serif;
    font-weight:bold;
    font-size:90%;
    float:left;
    margin-right:1%;
    width:20px;
    text-align:center;
}

/* Forms */
form {
    display:flex; 
    flex-flow:column; 
}
fieldset {
    width:97%;
    margin:0 3% 3% 0; 
    border:2px solid var(--red);; 
    border-radius:10px;
    background-color:white;
}
legend {
    background-color:var(--red);;
    font-weight:bold; 
    font-size:115%;
    color:white;
    padding:1% 1.5%;
    margin-bottom:3%;
    text-align:left;
    border-radius:5px;
}
fieldset p {
    margin:-20px 0 50px 0; 
    font-weight:400;
    padding-top:2%;
}

label, input, textarea, select {
    font-family: inherit;
}
label {display:block;}
textarea {width:95%; height:100px; padding:2%;}
    textarea:valid,
    textarea:focus,
    textarea:active, 
    textarea:focus-within,
    textarea:focus-visible {border:2px solid var(--green); }

textarea:invalid,
    textarea::grammar-error  {border:3px solid var(--red); }

select {
    font-size: 100%;
    margin-bottom:4%;
    color:var(--red);;
    border:3px solid gray;
    border-radius:5px;
    padding:.7%;
}
#survey .question:nth-child(odd) {
    background-color:whitesmoke;
}
.indent { 
    margin-left:2%;
}
.question { /* perfectly vertically and horizontally aligned! */
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
#survey label {
    width:400px;
    font-size:90%;
}

.scale:before {
    content: "Disagree---------------------------------------------------------------- Agree";
    display:block;
    font-size:60%;
    width:300px;
 
}
.likertGroup {margin-top:4%;}
.likertGroup button {
    margin: 1% 2.5% 2% 0;
    border:0;
    padding:1% 1.2%;
    box-shadow:1px 1px gray;
    border-radius:2px;
    width:25px;
    
}
.likertGroup button:hover {
    color:white; 
    background:var(--orange);
    border:0;
}
.likertGroup button.selected {
    color:white; 
    background:var(--orange);
    border:0;
}



/* card gallery */
.card {	  
display: flex;
flex-flow: row wrap;
align-items: stretch;
}
.card figure { /* design each set */
    background-color:white;
    border:1px solid var(--red);;
    border-radius:5px;
    box-shadow:2px 2px 10px var(--shadow);
    margin:0 2.5% 2.5% 0;
    padding:2%;
    min-height:auto;
    vertical-align:top;
    overflow:visible;
    transition: transform 0.3s ease;
}

.card h3 {
    text-align:center;
    font-weight:bold; 
    color:var(--red); 
    font-size:130%; 
    padding:0 2%;
    margin-top:0;
}

.card figcaption {padding:0 2%; font-size:80%;}
.card img {
width: 100%;
height: auto;
border-top-left-radius:5px;
border-top-right-radius:5px;
}

/* Summary using range with score */
.persona-comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:4% auto;
}
.persona-comparison h3 {
    margin-bottom:4%;
    color:var(--red);;
    z-index:999;
}

.comparison-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 80%;
    height: 5px;
    margin: 0 0 8% 0;
    padding: 0;
    background: linear-gradient(180deg, var(--shadow) 58%, var(--shadow) 58%);/* W3C */

  }

.persona-image {
    width: 85px;
    height:85px;
    object-fit: cover;
}
.grayed {
    opacity:35%;
}
.score-marker {
    position: absolute;
    transform: translateX(-50%);
    left:auto;

    font-size: 1.2rem;
    color: white;
    white-space: nowrap;
    border-radius: 5px;
    background-color:var(--red);
    padding:1% 1% 1% 1%;
    width:auto;
    height:auto;
    line-height:1; vertical-align:middle;
    text-align:center;
    box-shadow:2px 2px 3px var(--shadow);
}
  
/* media queries */

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 777px) {
    .card figure {  
        min-width:30%;
        max-width: 42.99%; 
        overflow:scroll;
        max-height:600px;
    }

    .grayed {
        opacity:100%;
    }
    .consent {margin:0 0 -2.5% 25%; width:75%;}

}
